#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.room {
  transform: scale(1);
}
.stage {
  padding: 1rem;
  background: #222;
  border: 1px solid #111;
}

.seats {
  display: flex;
  flex-direction: column-reverse;
  background: #111;
  padding: 1rem;
}

.row {
  display: flex;

  align-items: center;
  justify-content: center;
}
.row-number {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  padding: 0 0.5rem;
}

.seat {
  display: flex;
  position: relative;
  min-width: 6ch;
  min-height: 2rem;
  margin: 1vw;
  align-content: stretch;
}

.seat input {
  -webkit-appearance: none;
  appearance: none;

  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font: inherit;
  color: currentColor;
}

.seat b {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  min-height: 4ch;
  border-radius: 4px;
}
.seat input:hover + b,
.seat input:focus + b {
  background: #000;
}

.seat input:checked + b {
  background: green;
}

.seat input:disabled + b {
  background: transparent;
  opacity: 0.2;
}

.spacer {
  flex: 1;
}
.hcp-row {
  margin-bottom: 1rem;
}
.hcp-row .seat {
  min-width: 9ch;
  min-height: 4ch;
}
/*
@media screen and (max-width: 600px) {
  .room {
    overflow-x: hidden;
    transform: scale(0.5);
    border: 10px solid pink;
  }
}
*/
